h3{
    color: crimson;
}

.carousel-control-prev{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-top: 120px;
}

.carousel-control-next{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-top: 120px;
}